html {
  scroll-behavior: smooth;
}

body {
  background: #222;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

section {
  margin: 32px 0;
}

:target {
  padding-top: 50px;
}

.text-center {
  text-align: center;
}

.container {
  width: 85%;
  padding: 66px 16px 16px;
  margin: auto;
}

p {
  text-align: justify;
}

.top {
  width: 40px;
  height: 40px;
  background: #fff;
  font-size: small;
  font-weight: 700;
  color: #222;
  position: fixed;
  bottom: 32px;
  right: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* ------------------- scrollbar ------------------- */
::-webkit-scrollbar {
  width: 8px;
  margin-right: 2px;
}

/* 捲軸背景 */
::-webkit-scrollbar-track {
  background: #333;
}

/* 捲軸把手 */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 1000px;
}

/* 捲軸滑過時 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ------------------- nav ------------------- */
nav {
  height: 50px;
  background: #444;
  position: fixed;
  width: 100%;
}

nav .row {
  width: 90%;
  height: 100%;
  display: flex;
  margin: auto;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: auto 16px;
  display: none;
}

nav a:first-child {
  margin-right: auto;
  display: block;
}
/* ------------------- info ------------------- */
#info .photo,
#info h1 {
  text-align: center;
}

#info .photo img {
  width: 200px;
  border-radius: 32px;
}

#info .row {
  justify-content: center;
}

#info h1 {
  font-weight: 500;
}

#info p {
  font-size: 14px;
  font-weight: 400;
  text-indent: 2rem;
}
/* ------------------- 技能 ------------------- */
#skill ul {
  margin: 0;
  padding: 0;
}

#skill li {
  list-style: none;
  margin-bottom: 16px;
  display: flex;
}

#skill hr {
  margin-bottom: 16px;
}

#skill .col:nth-of-type(2) ul {
  margin-bottom: 32px;
}

/* ------------------- 經歷 ------------------- */
#experience .row {
  margin: 64px 0;
}

/* ------------------- 作品集 ------------------- */
#portfolio .row {
  display: flex;
}

#portfolio a {
  color: #fff;
  text-decoration: none;
}

#portfolio .card {
  /* max-width: 380px; */
  border: 1px solid #fff;
  border-radius: 32px;
}

#portfolio .biong {
  width: 100%;
  min-width: 380px;
  margin: auto;
}

#portfolio .row {
  justify-content: center;
  flex-wrap: wrap;
}

#portfolio .biong .row {
  flex-wrap: nowrap;
  justify-content: space-around;
}

#portfolio .col {
  margin: 16px;
}

#portfolio .biong h4 {
  margin: 0;
}

#portfolio .card img {
  width: 100%;
  height: 220px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  transition: 0.3s;
}

#portfolio .biong .img {
  display: flex;
}

#portfolio .biong img {
  width: 33%;
  height: 25%;
  border-radius: 0;
}

#portfolio .card .img2 {
  display: none;
}

#portfolio .card .info {
  margin: 16px;
}
#portfolio .card .info h3 {
  margin: 0 0 8px;
  font-weight: 500;
}

#portfolio .card p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8;
}

#portfolio .card span {
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 150px;
  font-size: 4px;
  margin-right: 4px;
}

#portfolio .card:hover .img1 {
  display: none;
}
#portfolio .card:hover .img2 {
  display: inline;
}

/* ------------------- footer ------------------- */
#footer {
  width: 70%;
  height: 100px;
  margin: auto;
}

#footer .contact .row {
  display: flex;
}

#footer .contact a {
  text-decoration: none;
  color: #fff;
}

#footer .copyright {
  font-size: 10px;
  text-align: center;
  padding-bottom: 10px;
}
/* ------------------- RWD ------------------- */
@media (min-width: 576px) {
  .container {
    width: 80%;
  }

  nav a {
    display: block;
  }

  nav select {
    display: none;
  }

  .row,
  #skill .front,
  #skill .back-other {
    display: flex;
  }

  #info h1 {
    text-align: left;
  }

  #info h1,
  #info p {
    margin-left: 32px;
  }

  #skill {
    width: 85%;
    margin: auto;
  }

  #skill .row {
    display: block;
  }

  #skill hr {
    margin-left: 0;
  }

  #skill .row {
    justify-content: center;
  }

  #skill .front .col,
  #experience .col {
    width: 50%;
    margin-left: 64px;
  }

  #skill .back-other .col {
    width: 50%;
  }

  #skill .back-other ul {
    margin-left: 64px;
  }

  #skill .back-other .col:first-of-type hr {
    width: 90%;
  }

  #portfolio .card {
    min-width: 300px;
  }

  #portfolio .biong {
    width: 80vw;
  }

  #footer .contact:not(#footer .contact .row) {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 992px) {
  .container {
    width: 70%;
  }

  #skill {
    width: 100%;
    margin: auto;
  }

  #skill hr {
    width: 90%;
  }

  #skill .row {
    display: flex;
  }

  #skill .back-other,
  #skill .col:first-of-type:not(.back-other .col:first-of-type) {
    width: 50%;
  }

  #skill .front .col,
  #skill .back-other ul {
    margin-left: 0;
  }

  #portfolio .card {
    width: 380px;
  }

  #portfolio .biong {
    width: 70vw;
  }
}
