@font-face {
  font-family: 'JF-HUN';
  src: url('JF-OPENHUNINN-1.1.TTF');
}

html {
  scroll-behavior: smooth;
}

body {
  background: #eee;
  color: #222;
  margin: 0;
  padding: 0;
  font-family: 'JF-HUN';
}

section {
  margin: 32px 0;
}

:target {
  padding-top: 50px;
}

::selection {
  background: #03105988;
  color: #eee;
}

.text-center {
  text-align: center;
}

.container {
  width: 85%;
  padding: 66px 16px 16px;
  margin: auto;
}

p {
  text-align: justify;
}

h1 {
  background: #03105933;
  color: #031059;
  padding: 4px 16px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 24px;
  margin: 16px 0;
}

hr {
  border: 0.5px solid #031059;
}

.top {
  width: 40px;
  height: 40px;
  background: #fff;
  font-size: small;
  font-weight: 700;
  color: #031059;
  position: fixed;
  bottom: 32px;
  right: 32px;
  border: 1px solid #031059;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 500;
  transition: 0.3s;
}

/* ------------------- scrollbar ------------------- */
::-webkit-scrollbar {
  width: 8px;
  margin-right: 2px;
}

/* 捲軸背景 */
::-webkit-scrollbar-track {
  background: #333;
}

/* 捲軸把手 */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 1000px;
}

/* 捲軸滑過時 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ------------------- nav ------------------- */
nav {
  height: 50px;
  background: #031059;
  position: fixed;
  width: 100%;
  z-index: 500;
}

nav select {
  background: #031059;
  border: none;
  color: #f2f2f2;
  font-size: 16px;
  font-family: 'JF-HUN';
  text-align: center;
}

nav select option {
  background: #eee;
  color: #031059;
}

nav .row {
  width: 90%;
  height: 100%;
  display: flex;
  margin: auto;
}

nav a {
  color: #f2f2f2;
  text-decoration: none;
  margin: auto 16px;
  display: none;
}

nav a:first-child {
  margin-right: auto;
  display: block;
}
/* ------------------- info ------------------- */
#info .photo,
#info h1 {
  text-align: center;
  background: none;
}

#info .photo img {
  width: 200px;
  border-radius: 32px;
}

#info .row {
  justify-content: center;
}

#info h1 {
  font-size: 32px;
  margin: 16px 0;
}

#info p {
  /* font-size: 14px; */
  font-weight: 400;
  text-indent: 2rem;
  line-height: 1.8;
}
/* ------------------- 技能 ------------------- */
#skill p {
  color: #031059;
}
#skill ul {
  margin: 0;
  padding: 0;
}

#skill li,
#skill p {
  list-style: none;
  margin-bottom: 16px;
  display: flex;
}

#skill p span {
  font-size: 18px;
}

#skill hr {
  margin-bottom: 16px;
}

#skill .col ul:not(#skill .front .col:first-child ul) {
  margin-bottom: 32px;
}

/* ------------------- 經歷 ------------------- */
#experience .col {
  border-radius: 32px;
  padding: 16px;
  margin: 24px;
  box-shadow: 0px 0px 4px #555;
  border: 1px solid #031059;
  position: relative;
}

#experience .col::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url('../images/wda.png') no-repeat right/30%;
}

#experience .col:last-child::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  background: url('../images/chihlee.png') no-repeat right/30%;
}

#experience p {
  font-size: 16px;
  margin: 8px 0;
  background: #f2f2f2;
  display: inline-block;
}

#experience p:first-child {
  font-size: 18px;
  color: #031059;
}

#experience p:last-child {
  font-size: 14px;
}

/* ------------------- 作品集 ------------------- */

#portfolio a {
  color: #222;
  text-decoration: none;
}

#portfolio .col:not(.biong .col) {
  background: #eee;
  box-shadow: 0px 0px 4px #555;
  border: 1px solid #031059;
  border-radius: 32px;
  margin: 16px;
}

#portfolio .biong {
  width: 100%;
  margin: auto;
}

#portfolio .row {
  justify-content: center;
  flex-wrap: wrap;
}

#portfolio .biong .row {
  flex-wrap: nowrap;
  justify-content: space-around;
}

#portfolio .card {
  transition: 0.3s;
  border-radius: 32px;
}

#portfolio .biong h4 {
  margin: 0;
}

#portfolio .card img {
  width: 100%;
  height: 220px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  transition: 0.3s;
}

#portfolio .biong .img {
  display: flex;
  flex-wrap: wrap;
}

#portfolio .biong img {
  height: 25%;
  border-radius: 0;
}

#portfolio .card .img2 {
  display: none;
}

#portfolio .biong ul {
  padding-left: 16px;
}

#portfolio li {
  line-height: 1.8;
}

#portfolio .card .info {
  padding: 24px;
}
#portfolio .card .info h3 {
  margin: 0 0 8px;
  font-weight: 600;
  color: #031059;
}

#portfolio .card p {
  font-weight: 300;
  line-height: 1.8;
}

#portfolio .card span {
  padding: 5px 10px;
  color: #031059;
  background: #03105911;
  border-radius: 150px;
  font-size: 4px;
  margin-right: 4px;
}

#portfolio .tags {
  display: flex;
  flex-wrap: wrap;
}

#portfolio .tags span {
  margin-bottom: 8px;
}

#portfolio .card:hover {
  background: #03105988;
  transition: 0.3s;
  color: #eee;
}

#portfolio .card:hover span {
  color: #eee;
  border: 1px solid #eee;
}

#portfolio .card:hover hr {
  border: 1px solid #eee;
}

#portfolio .card:hover h3 {
  color: #eee;
}

#portfolio .card:hover .img1 {
  display: none;
}
#portfolio .card:hover .img2 {
  display: inline;
}

/* ------------------- footer ------------------- */
#footer {
  background-color: #03105911;
  padding: 16px 0;
}

#footer.contact {
  width: 70%;
  height: 100px;
  margin: auto;
}

#footer .contact h1 {
  margin: 0 16px;
  text-align: center;
}

#footer .contact .row {
  display: flex;
  padding-left: 16px;
}

#footer .contact a {
  text-decoration: none;
  color: #222;
}

.copyright {
  background: #031059;
  text-align: center;
  color: #eee;
  font-size: 10px;
  margin: 0;
  padding: 4px 0;
}
/* ------------------- RWD ------------------- */
@media (min-width: 576px) {
  .container {
    width: 80%;
  }

  nav a {
    display: block;
  }

  nav select {
    display: none;
  }

  .row,
  #skill .front,
  #skill .back-other {
    display: flex;
  }

  #info h1 {
    text-align: left;
    margin: 0;
  }

  #info h1,
  #info p {
    margin-left: 32px;
  }

  #skill {
    width: 85%;
    margin: auto;
  }

  #skill .row {
    display: block;
  }

  #skill hr {
    margin-left: 0;
  }

  #skill .row {
    justify-content: center;
  }

  #skill .front .col,
  #experience .col {
    width: 50%;
  }

  #skill .back-other .col {
    width: 50%;
  }

  #skill .front ul,
  #skill .back-other ul {
    margin-left: 64px;
  }

  #skill .back-other .col:first-of-type hr {
    width: 90%;
  }

  #portfolio .card {
    min-width: 300px;
  }

  #portfolio .biong {
    width: 80vw;
  }

  #portfolio .biong .img img {
    width: 33.33333%;
  }

  #footer .contact:not(#footer .contact .row) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .container {
    width: 70%;
  }

  #skill {
    width: 100%;
    margin: auto;
  }

  #skill hr {
    width: 90%;
  }

  #skill .row {
    display: flex;
  }

  #skill .back-other,
  #skill .col:first-of-type:not(.back-other .col:first-of-type) {
    width: 50%;
  }

  #skill .front ul,
  #skill .back-other ul {
    margin-left: 0;
  }

  #portfolio .card {
    width: 380px;
  }

  #portfolio .biong {
    width: 70vw;
  }
}
