html {
  scroll-behavior: smooth;
}

body {
  background: #222;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
}

section {
  margin: 32px 0;
}

.row {
  display: flex;
}

.text-center {
  text-align: center;
}

.container {
  width: 70%;
  padding: 66px 16px 16px;
  margin: auto;
}

p {
  text-align: justify;
}

.top {
  width: 40px;
  height: 40px;
  background: #fff;
  font-size: small;
  font-weight: 700;
  color: #222;
  position: fixed;
  bottom: 32px;
  right: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* ------------------- nav ------------------- */
/*捲軸寬度 */
::-webkit-scrollbar {
  width: 8px;
  margin-right: 2px;
}

/* 捲軸背景 */
::-webkit-scrollbar-track {
  background: #333;
}

/* 捲軸把手 */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 1000px;
}

/* 捲軸滑過時 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ------------------- nav ------------------- */
nav {
  height: 50px;
  background: #444;
  position: fixed;
  width: 100%;
}

nav .row {
  width: 90%;
  height: 100%;
  margin: auto;
}

nav a {
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
  margin: auto 16px;
}

nav a:first-child {
  margin-right: auto;
}
/* ------------------- info ------------------- */
#info .photo {
  width: 200px;
}

#info .row {
  justify-content: center;
}

#info h1 {
  font-weight: 500;
  margin-left: 32px;
}

#info p {
  /* width: 400px; */
  margin-left: 32px;
  font-size: 14px;
  font-weight: 400;
  text-indent: 2rem;
  /* text-align: justify; */
}
/* ------------------- 技能 ------------------- */
#skill ul {
  margin: 0;
  padding: 0;
}

#skill li {
  list-style: none;
  margin-bottom: 16px;
  display: flex;
}

#skill p {
  margin: 0;
}

#skill hr:first-of-type {
  width: 85%;
  margin-left: 0;
}
#skill .col:nth-of-type(2) hr {
  width: 100%;
  margin-left: 0;
}

#skill .col {
  width: 66%;
}

#skill .row {
  justify-content: center;
}

#skill .front {
  display: flex;
}

#skill .front .col {
  width: 50%;
}

#skill .col:nth-of-type(2) {
  width: 200px;
}

#skill .col:nth-of-type(2) ul {
  margin-bottom: 32px;
}

/* ------------------- 經歷 ------------------- */
#experience .row {
  margin: 64px 0;
}

#experience .col {
  width: 50%;
  margin-left: 64px;
}

/* ------------------- 作品集 ------------------- */
#portfolio a {
  color: #fff;
  text-decoration: none;
}

#portfolio .card {
  width: 380px;
  border: 1px solid #fff;
  /* border-radius: 16px; */
}

#portfolio .biong {
  width: 100%;
  margin: auto;
}

#portfolio .row:not(.biong .row) {
  justify-content: center;
  flex-wrap: wrap;
}

#portfolio .col {
  margin: 16px;
}

#portfolio .biong h4 {
  margin: 0;
}

#portfolio .card img {
  width: 100%;
  height: 220px;
  /* border-top-right-radius: 16px;
  border-top-left-radius: 16px; */
  transition: 0.3s;
}

#portfolio .biong img {
  width: 33%;
  height: 25%;
}

#portfolio .card .img2 {
  opacity: 0;
  display: none;
}

#portfolio .card .info {
  margin: 16px;
}
#portfolio .card .info h3 {
  margin: 0 0 8px;
  font-weight: 500;
}

#portfolio .card p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8;
}

#portfolio .card span {
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 150px;
  font-size: 4px;
  margin-right: 4px;
}

#portfolio .card:hover .img1 {
  opacity: 0;
  display: none;
}
#portfolio .card:hover .img2 {
  opacity: 1;
  display: inline;
}

/* ------------------- footer ------------------- */
footer {
  height: 100px;
}

footer .copyright {
  font-size: 10px;
  text-align: center;
  /* margin-bottom: auto; */
}
